<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="text-center bg-primary text-white p-2">Main Menu</h2>

    <h2 class="text-center">
        <a href="accVoucherType" class="btn btn-Secondary btn-lg" target="_blank">Voucher Type</a>
        <br>
        <a href="accAccountHead" class="btn btn-Secondary btn-lg" target="_blank">AccAccountHead</a>
        <br>
        <a href="showTablethree" class="btn btn-Secondary btn-lg" target="_blank">Tablethree</a>
    </h2>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</body>
</html>
