# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\web-eng-workspace\publishing-smvc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
