# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Web-Engineering-Workspace\jspdemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
