# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\web-new-repo\web-proj-first\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
